.nav {
  width: 100%;
} 

.filtro {
  cursor: pointer;
} 

.filtro:hover {
  color: #ff0000;
  transition: 0.25s;
} 

 .route {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  font-family: sans-serif;
  font-size: 1.6em;
  color: #757575;
}

@media (max-width: 620px) {
  .nav {
    gap: 0.75em;
    width: unset;
  }

  .route {
    gap: 1em;
  }
}
