.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 1em 1.95em;
  }

  .price {
    color: #ffffff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
  }

  .menos {
    font-family: sans-serif;
    color: #757575;
    font-weight: 500;
    cursor: pointer;
  }
  
  .mais {
    color: #ff0000;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  
  .quantidade {
    display: flex;
    text-transform: capitalize;
    gap: 1em;
    align-items: center;
    font-size: 1.8em;
    font-weight: 500;
  }
  
  .button {
    align-self: self-end;
    background-color: #ff0000;
   font-weight: 500;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 8px;
    border: transparent;
    display: flex;
    padding: 0 0.5em;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    min-width: 45%;
  }

/* Responsivo */

@media(max-width: 1280px){
    .flex {
      position: unset;
      bottom: unset;
      left: unset;
      padding: unset;
    }

  }