.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -3em;
  width: 100vw;
}

.gridCol {
  padding-left: 3em;
  background-clip: padding-box;
}
