   /* primary: "#FF0000",
    background: "#FFFFFF",
    textPrimary: "#424242",
    textSecondary: "#757575", */

    .center {
      /* width: 100vw; */
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    /* Responsivo */

    @media(max-width: 1280px){
      .li {
        height: fit-content;    
      }
      
      .img {
        max-height: 45em;
        height: unset;
      }

      .flex {
        position: unset;
        bottom: unset;
        left: unset;
        padding: unset;
      }

    }

    @media(max-width: 1000px){
      .img {
        max-height: 60em;
      }
    }

    @media(max-width: 620px){
      .img {
        height: 18.5em ;
      }
      
    }