   /* primary: "#FF0000",
    background: "#FFFFFF",
    textPrimary: "#424242",
    textSecondary: "#757575", */

    .center {
      /* width: 100vw; */
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .nav {
      width: 100%;
    }

    .filtro {
      cursor: pointer;

    }

    .filtro:hover {
      color: #ff0000; 
      transition: 0.25s;
    
    }

    .route {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3em;
      font-family: sans-serif;
      font-size: 1.6em;
      color: #757575;
    }

    .grid {
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      margin-left: -3em;
      width: 100vw;
    }

    .gridCol {
      padding-left: 3em;
      background-clip: padding-box;
    }
    .li {
      margin: 3em 0.75em;
      color: #474646;
      box-shadow: rgb(174, 156, 156) 0px 15px 30px -10px;
      border-radius: 8px;
      height: fit-content;
      list-style: none;
      display: flex;
      flex-direction: column;
      min-width: 26em;
      /* Teste */
      height: 50vh;
      position: relative;
    }
    

    .div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: auto;
      padding: 2em;
      align-items: start;
    }

    .title {
      font-size: 2.5em;
      margin-bottom: 0.5em;
      color: #757575;
      text-transform: uppercase;
    }

    .fat,
    .protein,
    .carbs,
    .calories,
    .description
    {
      font-size: 1.3em;
      display: inline;
      width: fit-content;
      margin-bottom: 1em;
    }

    .nutritional {
      display: flex;
      gap: 0.25em;
    }

    .description {
      max-width: 100%;
    }

    .props {
      color: #676060;
    }

    .img {
      width: 100%;
      border-radius: 8px 8px 0 0;
      object-fit: cover;
      max-height: 45em;
      /* Teste */
      max-height: unset;
      height: 15vh;
    }

    .standard {
      display: flex;
      align-items: center;
    }

    .quantidade {
      display: flex;
      text-transform: capitalize;
      gap: 1em;
      align-items: center;
      font-size: 1.8em;
      font-weight: 900;
    }

    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      bottom: 0px;
      left: 0;
      padding: 1em 1.95em;
    }

    .keto {
      width: 9%;
    }
    
    .price {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 900;
    }

    .menos {
      font-family: sans-serif;
      color: #757575;
      font-weight: 900;
    }
    
    .mais {
      color: #ff0000;
      font-family: sans-serif;
      font-weight: 900;
    }
    
    .button {
      align-self: self-end;
      background-color: #ff0000;
      font-weight: bold;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 8px;
      border: transparent;
      display: flex;
      padding: 0 0.25em;
      /* gap: 0.25em; */
      align-items: center;
      justify-content: space-between;
      height: 5vh;
      width: 10em;
      max-width: 45%;
    }


    /* Responsivo */

    @media(max-width: 1280px){
      .li {
        height: fit-content;    
      }
      
      .img {
        max-height: 45em;
        height: unset;
      }

      .flex {
        position: unset;
        bottom: unset;
        left: unset;
        padding: unset;
      }

    }

    @media(max-width: 1000px){
      .img {
        max-height: 60em;
      }
    }

    @media(max-width: 620px){
      .img {
        height: 18.5em ;
      }
      
    }